fastapi
uvicorn[standard]

sqlalchemy
alembic
asyncpg
psycopg2-binary

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]
python-multipart

email-validator

httpx

pytest

bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator

ultralytics
opencv-python
numpy
Pillow
torch
torchvision